.tile--content{
  width: 290px;
  height: 470px;
  @include box-shadow(0, 3px, 12px, rgba(0, 0, 0, 0.175));
  border-radius: 5px;
  background-color: $color-white;
  @include breakpoint(mouse){
    width: 304px;
  }
  @include breakpoint(horse){
    width: 258px;
  }

}
.tile--image{
  width: 100%;
  height: 185.11px;
  background-color: $color-gray-light;
  /* Remove this after put image */
  line-height: 185.11px;
  text-align: center;
  /* Remove this after put image */
}

.tile--sub-content{
  margin-left: 10px;
}
.tile--content-category{
  width: 179px;
  height: 20px;
  @include font-size(12px);
  font-weight: 500;
  line-height: 20px;
  padding: 20px 0 20px 0;
  color: $color-gray-dark;
}
.tile--title{
  width: 235.5px;
  height: 24px;
  @include font-size(22px);
  line-height: 24px;
  margin: 12px 0;
  color: $color-black;
}
.tile--paragraph{
  width: 235.5px;
  height: 96px;
  @include font-size(16px);
  line-height: 24px;
  color: $color-black;
}
.tile--button{
  margin: 35px 0 20px 0;
}
