<div class="tile--content">
  <div class="tile--image">
      Image
  </div>
  <div class="tile--sub-content">
    <div class="tile--content-category">
      <span>></span>
      <span>Content category</span>
    </div>
    <div class="tile--title">
      <span>Card article title</span>
    </div>
    <div class="tile--paragraph">
      <p>Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id, commodo vehicula lorem.</p>
    </div>
    <div class="tile--button">
      {% include "atoms-cta-tertiary" %}
    </div>
  </div>
</div>
