<div class="social col-md-12">
  <ul class="social-follow">
    <li class="social-follow--items">
      <a href="" class="social-follow--item" social-link-footer="facebook">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__facebook-full"></use></svg>
      </a>
    </li>
    <li class="social-follow--items">
      <a href="" class="social-follow--item" social-link-footer="rss">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__rss"></use></svg>
      </a>
    </li>
    <li class="social-follow--items">
      <a href="" class="social-follow--item" social-link-footer="tumblr">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__tumblr"></use></svg>
      </a>
    </li>
    <li class="social-follow--items">
      <a href="" class="social-follow--item" social-link-footer="twitter">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__twitter"></use></svg>
      </a>
    </li>
    <li class="social-follow--items">
      <a href="" class="social-follow--item" social-link-footer="youtube">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__youtube"></use></svg>
      </a>
    </li>
  </ul>
  <span class="social-follow--copyright">Copyright 2017 © UNICEF. All rights reserved.</span>
</div>
