.cta--primary {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: $color-blue;
  color: $color-white;
  border: 2px solid $color-blue;

  &:hover {
    background: $color-blue-80;
  	color: $color-white;
    border-color: $color-blue-80;
  }

  &:focus{
    background: $color-blue-secondary;
  	color: $color-white;
    border-color: $color-blue-secondary;
  }
  
}

.cta--primary--disabled {
  @include font-size(16px);
  line-height: 24px;
	background: $color-gray-medium;
  color: $color-white;
  border: 2px solid $color-gray-medium;
  
  &:hover,
  &:focus {
    background: $color-gray-medium;
  	color: $color-white;
  	cursor: not-allowed;
    border-color: $color-gray-medium;
  }

}
