.pagination--content{
  display: inline-flex;
  list-style-type: none;
  @include font-size(14px);
}
.pagination--dropdown{
  padding: 0px 20px;
}
.open .pagination--dropdown-menu{
  display: inline-table;
}
.pagination--dropdown-menu{
  top: 80%;
  left: 7%;
  min-width: 50px;
  border: none;
  border-radius: 0;
  padding: 0;
}

.pagination--dropdown-menu-item{
  width: 100%;
}
.pagination--dropdown-menu .dropdown .pagination--dropdown-link{
  color: $color-blue;
}
.pagination--dropdown-menu .active .pagination--dropdown-link{
  color: $color-white;
}
.pagination--last-item{
  line-height: 35px;
}
.pagination--previous-next{
  float: left;
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: $color-blue;
  &:focus,
  &:visited,
  &:active,
  &:hover{
      text-decoration: none;
      color: $color-blue;
  }
}

.pagination--number{
  position: relative;
  float: left;
  line-height: 1.42857;
  text-decoration: none;
  border-radius: 5px;
  padding: 0px 5px 0px 12px;
  margin: 5px;
  height: 25px;
  color: $color-blue;
  background-color: $color-white;
  border: 1px solid $color-blue;
  &:focus,
  &:visited,
  &:active,
  &:hover{
    text-decoration: none;
    color: $color-blue;
  }
}
.pagination--number-line{
  float: left;
  border-right: 1px solid $color-blue;
  padding-right: 10px;
  line-height: 24px;
}
.pagination--number-arrow{
  float:left;
  padding-left: 5px;
  line-height: 25px;
}
.svg-dropdown-arrow-blue-pagination{
  display: inline-block;
}

.svg-dropdown-arrow-scale{
  transform: scale(0.6);
}
