

<div class="emergency-alert">

	<span class="btn-close">X</span>

	<p>Ecuador earthquake relief in progress. See how you can help children in need.</p>

	<div class="btn-dest">
		<a class="{{class}}">VISIT THE CRISIS PAGE</a>
		<a class="{{class}}">DONATE TO THE CRISIS</a>
	</div>

</div>
