.banner{
  padding: 0;
}

.banner--regular-image{
  height: 340px;
  line-height: 340px;
  text-align: center;
  background-color: $color-gray-light;
  border: 1px solid black;
  @include breakpoint(dog){
    height: 360px;
    line-height: 360px;
  }
  @include breakpoint(horse){
    height: 640px;
    line-height: 640px;
  }
}

.banner--regular-text{
  position: absolute;
  top: 240px;
  padding-left: 15px;
  @include breakpoint(dog){
    top: 245px;
    padding-left: 60px;
  }
  @include breakpoint(horse){
    top: 450px;
    padding-left: 115px;
  }
  h2{
    @include font-size(30px);
    font-weight: 700;
    text-shadow: 0 0 6px rgba(0,0,0,0.4);
    color: $color-white;
    @include breakpoint(dog){
      @include font-size(32px);
    }
    @include breakpoint(horse){
      @include font-size(80px);
    }
  }
}
