<div class="column--content">
       
    <figure>
      <img src="../../images/placeholder.png" alt="">
    </figure>

    <h4>Column title</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam.</p>

    {% include "atoms-cta-tertiary" %}

</div>

