.search--field {
  margin: 0 auto;
  max-width: 470px;
  position: relative;
  background-color: #C5EFFC;
  @include border-radius(12px);
  @include box-shadow(inset 1px, 3px, 10px, rgba(0, 0, 0, 0.25));

  .search--input {
    height: 43px;
    background: none;
    border: none;
    padding: 0 50px 0 17px;
    color: $color-gray-dark;
    @include font-roboto;
    @include font-size(16px);
    @include border-radius(12px);

    &::-webkit-input-placeholder  { color: $color-gray-dark; @include font-size(16px); }
    &:-moz-placeholder { color: $color-gray-dark; @include font-size(16px); }

  }

  .search--button {
    position: absolute;
    right: 15px;
    top: 13px;
    border: none;
    @extend %svg-common;
    @extend .svg-search_icon !optional;
    @extend .svg-search_icon-dims !optional;
  }

}
