<ul class="menu nav navbar-nav nav--menu">
   {% for item in items %}
  <li class="menu-item expanded dropdown nav--menu-item">
    <a href="" class="is-active nav--menu-active">{{item}}</a>
   </li>
   {% endfor %}
   <div class="nav--submenu-secondary">
     <ul class="nav--submenu">
       {% for subitem in subitems %}
       <li class="nav--submenu-item">
           <a href="#" class="nav--submenu-active">
             <span class="nav--submenu-item-selected"> > &nbsp</span>
             {{subitem}}
           </a>
       </li>
       {% endfor %}
     </ul>
   </div>
 </ul>
