.nav--anchor{
  background-color: $color-black;
}
.nav--anchor-item{
  .nav--anchor-link{
    border-bottom: 4px solid transparent;
    transition: all ease 0.2s;
    @include font-size(12px);
    &:active,
    &:focus,
    &:hover{
      background-color: transparent;
      text-decoration: none;
      color: $color-white;
      border-bottom: 4px solid $color-white;
    }
  }
}
.nav--anchor-link{
  color: $color-white;
}
