<ul class="menu nav navbar-nav nav--anchor">
  {% for item in items %}
  <li class="menu-item expanded dropdown nav--anchor-item">
    <a href="" class="is-active nav--anchor-link">{{item}}</a>
  </li>
  {% endfor %}
</ul>
