/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-ThinItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

/* BEGIN PT Serif REGULAR */
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* END PT Serif REGULAR */
/* BEGIN PT Serif Italic */
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif-Web-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
/* END PT Serif Italic */
/* BEGIN PT Serif BOLD */
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif-Web-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* END PT Serif BOLD*/
/* BEGIN PT Serif BOLD Italic */
@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PT_Serif-Web-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* END PT Serif BOLD Italic */
