<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>UNICEF</title>
  </head>
  <body>
    <div class="col-md-12">
      <a class="header__logo" href="/" aria-label="UNICEF - For every child">
        <svg aria-hidden="true" class="desktop"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../images/sprites.svg#svg--unicef-logo--en"></use></svg>
      </a>
    </div>
  </body>
  <script src="../js/bundle.js"></script>
  <script src="../js/modernizr.js"></script>
</html>
