.hero {
  margin: 50px 0;
}


/* Banner with image */
.hero--image{
  margin: 0;
  padding-bottom: 15px;
  z-index: 1;
  width: 100%;
  height: auto;
  background: $color-white;

  figure {
    margin: 0;

    figcaption {
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 20px;

      .copyright {
        margin: 8px 0 -10px;
        @include font-roboto;
        @include font-size(12px);
        font-weight: 500;
        line-height: 20px;
        color: $color-gray-dark;
      }

      @include breakpoint(horse) {
        padding: 0;

        .copyright {
          margin: 8px 0 -30px;
        }

      }

    }
  }

  @include breakpoint(horse) {
    margin: -30px 0 0;
  }

}

/* Text elements */
.hero--sub-content{
  z-index: 2;
  background: $color-white;
  margin: 0 auto;
  padding: 20px 20px;
  
  @include box-shadow(0, 5px, 10px, rgba(0,0,0,0.25));

  @include breakpoint(horse) {
    max-width: 1100px;
    position: relative;
    @include border-radius(10px);
    padding: 20px 50px;
  }
}
  .hero--content-category{
    @include font-roboto;
    @include font-size(12px);
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 15px 0;
    text-align: center;
    color: $color-gray-dark;
  }
  .hero--title{
    margin: 0 0 15px;
    color: $color-black;
    text-align: center;
  }
  .hero--paragraph{
    @include font-pt-serif;
    @include font-size(20px);
    font-style: italic;
    line-height: 150%;
    text-align: center;
    color: $color-black;
  }
  .hero--author{
    @include font-roboto;
    @include font-size(12px);
    font-weight: 500;
    line-height: 20px;
    margin: 15px 0 0;
    text-align: center;
    color: $color-gray-dark;
  }
  .hero--post-date {
    @include font-roboto;
    @include font-size(12px);
    font-weight: 500;
    line-height: 20px;
    margin: 0 auto;
    padding: 43px 0 0; 
    color: $color-gray-dark;
    max-width: 870px;
  }

  .hero--title-lp {
    margin: -120px auto 30px;
    text-align: center;
    min-height: 110px;

    @include breakpoint(mouse) {
      margin: -90px auto 0;
    }
  }





/* Style for specific HERO: ERROR MESSAGE */
.hero--error {
  position: relative;

  .hero--image {
    padding-bottom: 70px;
    figure {
      width: 100%;
      height: 420px;
      img {
        width: auto;
        height: 100%;
      }
    }
    @include breakpoint(mouse) {
      figure {
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

  .hero--error-message {
    position: absolute;
    top: 80px;
    left: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;


    .title-hero {
      text-align: center;
      margin: 25px 0 0;
    }

    .hero--paragraph {
      color: $color-white;
      text-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
    }

    .hero--icon-error {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      /* Remove this after put image */
      background: white;
    }

    @include breakpoint(mouse) {
      padding: 0;
      left: inherit;
      top: 150px;
    }

  }
