<div class="hero hero--error">

  <div class="hero--image">
      <figure>
        <img src="../../images/placeholder.png"/>
        <figcaption>
          <div class="hero--error-message">
            <span class="hero--icon-error"></span>
            <h1 class="title-hero color-white">Error text</h1>
            <div class="hero--paragraph">
              <p>Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id, commodo vehicula lorem. Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit.</p>
            </div>
          </div>
          <p class="copyright">&copy; Copyright</p>
        </figcaption>
      </figure>
  </div>

</div>