<div class="text--block bg-white">
  <div class="container">

    <div class="text--block-content">
      <div class="text--block-logo">
        <span class="svg-logo-unicef svg-logo-unicef-dims"></span>
      </div>
      <h2>Title Section</h2>

      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</h5>

      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar.</p>

      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p><a href="">Dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur.</a></p>

      {% include "atoms-blockquote" %}

    </div>

    <span class="line-spacer"></span>

    <div class="text--block-content">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar.</p>

      <h4 class="color-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar.</p>
    </div>

  </div>
</div>

<div class="text--block">
  <div class="container">

    <div class="text--block-content">
      <h2>Title Section</h2>

      <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</h5>

      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar.</p>

      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p><a href="">Dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur.</a></p>

      {% include "atoms-blockquote" %}

    </div>

    <span class="line-spacer"></span>

    <div class="text--block-content">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>

      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar. Fusce a sagittis magna. Donec interdum finibus lorem. Nunc blandit dignissim orci et dignissim. Nullam ultrices eros erat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique fermentum efficitur. Nulla ultrices dui diam, at ullamcorper felis volutpat eu. Duis egestas massa in volutpat pulvinar.</p>
    </div>

  </div>
</div>
