.media-block{
  display: flex;
  flex-direction: column;
  @include breakpoint(horse){
    flex-direction: row;
  }
}

.media-block--order-left{
  order: 1;
}

.media-block--content{
  text-align: center;
  margin-top: 0;
  @include breakpoint(horse){
    margin-top: 90px;
  }
  hr{
    border-bottom: 3px solid #1CABE2;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.media-block--text{
  font-family: "PT Serif";
  @include font-size(24px);
  font-style: italic;
  text-align: center;
  line-height: 42px;
  color: #333333;
  @include breakpoint(dog){
    @include font-size(32px);
  }
}
