<div class="media-block">
  <div class="media-block--image {{order1}} col-md-6">
    {% include "molecules-media-block-single-large" %}
  </div>
  <div class="media-block--content {{order2}} col-md-6">
    <hr>
    <span class="media-block--text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
    <hr>
  </div>
</div>
