.btn--share-content {
	position: relative;
}

.btn--share {
	z-index: 2;
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	@include border-radius(35px);
	background-color: $color-blue;
	text-indent: -9999em;
	@include box-shadow(0, 0, 15px, rgba(0,0,0,0.25));
	@include transition(background-color .3s ease);

	&:after {
		position: absolute;
		top: 3px;
		left: 5px;
		content: "";
		display: block;
		@extend %svg-common;
		@extend .svg-icon__share !optional;
		@extend .svg-icon__share-dims !optional;
	}

	&.expanded {
		background-color: $color-blue-secondary;
	}

}

	.btn--share-holder {
		z-index: 1;
		position: absolute;
		top: -100px;
		left: 10px;
		@include opacity(0);
		width: 50px;
		@include transition(all .3s ease);
		&.show {
			top: -150px;
			@include opacity(1);
		}
	}

	.btn--share__facebook,
	.btn--share__twitter {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 0 20px;
		background: $color-blue;
		@include border-radius(25px);
		@include box-shadow(0, 0, 15px, rgba(0,0,0,0.25));
		svg{
			margin: 13px 0 0 13px;
		    fill: $color-white;
		    max-height: 25px;
		    max-width: 25px;
		}
	}
