<div class="logo">

	<p>Logo global version</p>

    <a href="/" title="Home" rel="home" class="site-branding__logo">
      <span class="svg-logo-unicef-global svg-logo-unicef-global-dims"></span>
    </a>

</div>

<div class="logo logo-regional">

	<p>Logo local version</p>

    <a href="/" title="Home" rel="home" class="site-branding__logo">
      <span class="svg-logo-unicef svg-logo-unicef-dims"></span>
    </a>

    <div class="site-branding__text">
        <div class="site-branding__slogan">country tagline</div>
    </div>

</div>
