/**
 * @file
 * atoms/_elements.buttons.scss
 */

.btn-font-definition {
 	@include font-size(14px);
 	font-weight: 700;
 	line-height: 16px;
}

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: $border-radius;
	text-align: center;
	border: 2px solid $color-white;
	@extend .btn-font-definition;
	transition: background 0.2s ease;
	color: $color-white;
}
