/**
 * @file
 * atoms/_elements.page.scss
 */


ul{
  padding: 0px;
}

li, ul {list-style: none;}


/* new setting for bootstrap element .container */
.container {
  width: 100%;
  @include breakpoint(mouse) {
		width: 100%;
	}
	@include breakpoint(dog) {
		width: 668px;
	}
	@include breakpoint(horse) {
		width: 1100px;
	}
}
