<h1>Primary Colors</h1>

<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #1CABE2;"></span>
        <span class="sg-label">Primary blue #1CABE2</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #40C8F4;"></span>
        <span class="sg-label">Primary blue, 80% #40C8F4</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #0074C8;"></span>
        <span class="sg-label">Secondary blue #0074C8</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #FFFFFF;"></span>
        <span class="sg-label">White #FFFFFF</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #333333;"></span>
        <span class="sg-label">Black #333333</span>
    </li>
</ul>

<h1>Second Colors</h1>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #C93A2A;"></span>
    <span class="sg-label">Emergency #C93A2A</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E34E09;"></span>
    <span class="sg-label">Take action #E34E09</span>
  </li>
</ul>

<h1>Shades of Gray</h1>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #F8F8F8;"></span>
    <span class="sg-label">Extra light #F8F8F8</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F1F1F1;"></span>
    <span class="sg-label">Light #F1F1F1</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E2E2E2;"></span>
    <span class="sg-label">Medium #E2E2E2</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6B6B6B;"></span>
    <span class="sg-label">Dark #6B6B6B</span>
  </li>
</ul>
