.mosaic--tile{
  margin-top: 20px;
  float: left;
}
.mosaic--tile.first {
  display: none;
  @include breakpoint(horse){
    display:block;
  }
  .tile--content{
    background-color: $color-blue-secondary;
    .tile--image{
      display: none;
    }
    .tile--content-category, .tile--title, .tile--paragraph{
      color: $color-white;
    }
    .tile--button{
      margin-top: 220px;
      & > .cta--tertiary{
        color: $color-white;
        &:hover{
          border-bottom: 2px solid $color-white;
        }
      }
    }
  }
}
.mosaic--tile.last{
  .tile--content{
      background-color: $color-blue;
      .tile--image{
        display: none;
      }
      .tile--content-category, .tile--title, .tile--paragraph{
        color: $color-white;
      }
      .tile--button{
        margin-top: 220px;
        & > .cta--tertiary{
          color: $color-white;
          &:hover{
            border-bottom: 2px solid $color-white;
          }
        }
      }
  }
}
.mosaic--tile-featured{
  display: none;
  margin-top: 20px;
  padding: 0 15px;
  @include breakpoint(horse){
    display: block;
  }
}
.mosaic--dropdown{
  margin-bottom: 40px;
  text-align: center;
  float: left;
  width: 100%;
  padding: 0;

}
.mosaic--dropdown-button{
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.mosaic--dropdown-title{
  padding: 0;
  @include breakpoint(horse){
    text-align: right;
    padding: 0 15px;
  }
}
.mosaic--every-child{
  @include font-size(32px);
  font-weight: bold;
  line-height: 84px;
  color: $color-white;
  text-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
  @include breakpoint(dog){
    @include font-size(80px);
  }
}
.mosaic--sub-title{
  @include font-size(38px);
  line-height: 84px;
  color: $color-black;
  //TODO: remove this
  display: none;
}
.mosaic--button{
  float: left;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.dropdown--list{
  width: 300px;
  display: table;
  margin: auto;
  @include breakpoint(horse){
    margin: 0;
  }
}
.dropdown--toggle-mosaic{
  width: 100%;
  border-radius: .3em;
  font-weight: 700;
  line-height: 50px;
  padding: 15px 0px 15px 65px;
  background-color: $color-white;
  @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.175));
  color: $color-blue;
  &:active,
  &:focus,
  &:hover{
    color: $color-blue;
    text-decoration: none;

  }
}
.dropdown--mosaic{
  width: 100%;
  .dropdown--items-mosaic{
    width: 100%;
    text-align: center;
    .dropdown--active-mosaic{
      padding:.5em;
      font-weight: 700;
      color: $color-blue;
    }
  }
}
.dropdown--menu-mosaic{
  top: 95%;
  border: none;
  border-radius: 0;
  left: 1%;
  width: 98%;
}
.vertical-line-mosaic{
  display: inline;
  margin-left: 75px;
}
.svg-dropdown-arrow-mosaic{
  display: inline-block;
  margin-left: 97px;
  margin-right: 23px;
}
