<div class="hero hero--default">

  <div class="hero--sub-content">
      <div class="hero--content-category">
        <span>></span>
        <span>Content category</span>
      </div>

      <div class="hero--title">
        <h1>Lorem ipsum dolor sit amet, consectetur adipis est.</h1>
      </div>

      <div class="hero--paragraph">
        <p>Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id, commodo vehicula lorem. Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id finibus.</p>
      </div>

      <div class="hero--author">
        <span>Author name</span>
      </div>
  </div>

  <div class="hero--image">
      <figure>
        <img src="../../images/placeholder.png"/>
        <figcaption>
          <p class="copyright">&copy; Copyright</p>
          <div class="hero--post-date">
            <span>></span>
            <span>00 Date 0000</span>
          </div>
        </figcaption>
      </figure>
  </div>

</div>

  
