.cta--secondary {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: none;
  color: $color-blue;
  border: 2px solid $color-blue;

  &:hover {
    background: $color-blue;
  	color: $color-white;
  }

  &:focus{
    background: $color-blue-secondary;
  	color: $color-white;
    border-color: $color-blue-secondary;
  }

}

.cta--secondary--disabled {
  @include font-size(16px);
  line-height: 24px;
	background: none;
  border-color: $color-gray-medium;
  color: $color-gray-medium;

  &:hover,
  &:focus {
    background: $color-white;
    border-color: $color-gray-medium;
  	color: $color-gray-medium;
  	cursor: not-allowed;
  }

}

.cta--secondary--white {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: none;
  color: $color-white;
  border: 2px solid $color-white;

  &:hover,
  &:focus {
    color: $color-white;
  }
}

.cta--secondary-orange {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: $color-white;
  color: $color-orange;
  border: 2px solid $color-orange;

  &:focus,
  &:hover {
    background: none;
  	color: $color-white;
    border-color: $color-white;
  }
}

.cta--secondary-blue {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: none;
  color: $color-white;
  border: 2px solid $color-white;

  &:focus,
  &:hover {
    background: $color-white;
  	color: $color-blue;
    border-color: $color-white;
  }
}

.cta--secondary-primary-blue {
  @include font-size(16px);
  line-height: 24px;
  font-weight: 500;
  background: $color-blue;
  color: $color-white;
  border: 2px solid $color-blue-secondary;

  &:focus,
  &:hover {
    background: none;
  	color: $color-blue;
    border-color: $color-blue;
  }
}
