<div class="hero">

  <div class="hero--image">
      <figure>
        <img src="../../images/placeholder.png"/>
        <figcaption>
          <h1 class="hero--title-lp color-white">Lorem ipsum dolor sit amet, consectetur elit</h1>
          <div class="hero--paragraph">
            <p>Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id, commodo vehicula lorem. Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id finibus.</p>
          </div>
        </figcaption>
      </figure>
  </div>

</div>

  
