<div class="">
  <ul class="nav nav-tabs social-feed">
    <li role="presentation" data-toggle="tab" class="active social-feed--items"><a href="#twitter" class="social-feed--link"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__twitter"></use></svg></a></li>
    <li role="presentation" data-toggle="tab" class="social-feed--items"><a href="#instagram" class="social-feed--link"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__youtube"></use></svg></a></li>
    <li role="presentation" data-toggle="tab" class="social-feed--items"><a href="#facebook" class="social-feed--link"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__facebook"></use></svg></a></li>
    <li role="presentation" data-toggle="tab" class="social-feed--items"><a href="#tumbrl" class="social-feed--link"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__tumblr"></use></svg></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content social-feed--content">
    <div id="twitter" role="tabpanel" class="tab-pane fade in active" id="home">

      <div class="owl-carousel owl-theme social-feed--carousel">
         {% for item in items %}
          <div class="item">
            <div class="item active social-feed--carousel-item">
              <div class="social-feed--content-image">Image</div>
              <div class="social-feed--content-description">
                <span>
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__twitter"></use></svg>
                <a href="#">@UNICEF</a> | February {{item}}</span>
                <p><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
                <a href="#">#helpecuador</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>

    </div>
    <div id="instagram" role="tabpanel" class="tab-pane fade" id="profile">
      <div class="owl-carousel owl-theme social-feed--carousel">
         {% for item in items %}
          <div class="item">
            <div class="item active social-feed--carousel-item">
              <div class="social-feed--content-image"></div>
              <div class="social-feed--content-description">
                <span>
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__youtube"></use></svg>
                <a href="#">@UNICEF</a> | March {{item}}</span>
                <p><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
                <a href="#">#helpecuador</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    <div id="facebook" role="tabpanel" class="tab-pane fade" id="messages">

      <div class="owl-carousel owl-theme social-feed--carousel">
         {% for item in items %}
          <div class="item">
            <div class="item active social-feed--carousel-item">
              <div class="social-feed--content-image"></div>
              <div class="social-feed--content-description">
                <span>
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__facebook"></use></svg>
                <a href="#">@UNICEF</a> | April {{item}}</span>
                <p><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
                <a href="#">#helpecuador</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>

    </div>
    <div id="tumbrl" role="tabpanel" class="tab-pane fade" id="settings">

      <div class="owl-carousel owl-theme social-feed--carousel">
         {% for item in items %}
          <div class="item">
            <div class="item active social-feed--carousel-item">
              <div class="social-feed--content-image"></div>
              <div class="social-feed--content-description">
                <span>
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/sprites/symbols/sprites.svg#icon__tumblr"></use></svg>
                <a href="#">@UNICEF</a> | May {{item}}</span>
                <p><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
                <a href="#">#helpecuador</a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>

    </div>
  </div>

</div>
