<div class="roboto">
  <p>Roboto-Regular font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</p>
  <p><em>Roboto-Regular font italic: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</em></p>
  <p><strong>Roboto-Regular font bold: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</strong></p>
</div>

<div class="pt-serif">
  <p>PT Serif font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</p>
  <p><em>PT Serif font italic: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</em></p>
  <p><strong>PT Serif font bold: "Helvetica Neue", "Helvetica", "Arial", sans-serif;</strong></p>
</div>



<div style="background: #E2E2E2; width: 100%;">

	<h1 class="title-hero">Title Hero</h1>

	<h1 class="title-LP">H1 - Landing Titles</h1>

	<h1>H1</h1>

	<h2>H2</h2>

	<h3>H3</h3>

	<h3 class="color-white">H3-White</h3>

	<h4>H4</h4>

	<h4 class="color-white">H4-White</h4>

	<h5>H5</h5>

	<h6 class="caption">H6 + Caption</h6>

	<h6 class="subtitle">Subtitle</h6>

	<h6 class="subtitle color-white">Subtitle - White</h6>

	<p>Body text</p>

	<p class="color-white">Body text - White</p>

	<h7>H7</h7>

	<h7 class="color-white">H7 : White</h7>

	<h7 class="color-emergency">H7 : Red</h7>

	<a href="" class="nav--menu">MENU LINKS</a>

	<a href="#" class="color-action">Button Link: Orange</a>

	<a href="#" class="color-white">Button Link: White</a>

	<a href="#">Button Link: Blue</a>

	<p><a href="#" class="global-link__lnk">Global Links</a></p>

</div>


