<div class="container">
  

  {# 2 Columns #}
  <div class="column--block">

    <h1 class="title text-center">2 COLUMNS LEFT</h1>

    <div class="col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - no image #}
  <div class="column--block">

    <div class="no-image col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - image + no image column #}
  <div class="column--block">

    <div class="col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - text centered #}
  <div class="column--block">

    <h1 class="title text-center">2 COLUMNS CENTERED</h1>

    <div class="text-center col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="text-center col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - text centered - no image #}
  <div class="column--block">

    <div class="no-image text-center col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image text-center col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - text centered - image + no image column #}
  <div class="column--block">

    <div class="text-center col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image text-center col-sm-6">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 2 Columns - text centered - rounded image #}
  <div class="column--block">

    <h1 class="title text-center">2 COLUMNS ROUNDED MASK</h1>

    <div class="img-circle text-center col-sm-6">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="img-circle text-center col-sm-6">
       {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 3 Columns #}
  <div class="column--block">

    <h1 class="title text-center">3 COLUMNS</h1>

    <div class="col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 3 Columns - text centered - no image #}
  <div class="column--block">

    <div class="no-image text-center col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image text-center col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="no-image text-center col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span>


  {# 3 Columns - text centered - rounded image #}
  <div class="column--block">

    <div class="img-circle text-center col-sm-4">
      {% include "molecules-column-block-content" %}
    </div>

    <div class="img-circle text-center col-sm-4">
       {% include "molecules-column-block-content" %}
    </div>

    <div class="img-circle text-center col-sm-4">
      {% include "molecules-column-block-content" %}
    </div>

  </div>


  <span class="line-spacer"></span> 


  {# 2 Columns - 1/4 + 3/4 #}
  <div class="column--block">

    <h1 class="title text-center">1/4 - 3/4 COLUMNS</h1>

    <div class="no-image col-sm-4">
        {% include "molecules-column-block-content" %}
    </div>

    <div class="column--content col-sm-8">
        <img src="../../images/placeholder.png" alt="">
    </div>

  </div>
</div>