<div class="tile-featured--content">
  <div class="tile-featured--image col-md-6">
      Image
  </div>
  <div class="tile-featured--sub-content col-md-3">
    <div class="tile-featured--content-category">
      <span>></span>
      <span>Content Featured category</span>
    </div>
    <div class="tile-featured--title">
      <span>Card article title</span>
    </div>
    <div class="tile-featured--paragraph">
      <p>Ut eleifend nisi ac est suscipit, in scelerisque orci suscipit. Ut augue ex, finibus molestie felis id, commodo vehicula lorem.</p>
    </div>
    <div class="tile-featured--button">
      {% include "atoms-cta-tertiary" %}
    </div>
  </div>
</div>
