.panel-group--page-tree{
  @include font-size(12px);
  width: 250px;
}
.panel--page-tree{
  & >.panel-heading--page-tree{
    background-color: $color-black;
    color: $color-white;
    padding-left: 0;
    border-radius: 4px;
  }
}
.panel-title--page-tree{
  padding-left: 20px;
}
.panel-body--page-tree{
  background-color: $color-black;
  padding: 0 15px 0 0;
}
.page-tree--hr{
  padding-left: 30px;
}
.page-tree--item{
  padding: 5px 0px;
}
.page-tree--second-item{
  padding: 10px 0 5px 0;
}
.page-tree--link{
  color: $color-white;
  padding: 10px 0px 10px 20px;
  border-left: 3px solid transparent;
  &:hover{
    color: $color-blue;
    text-decoration: none;
  }
  &:focus{
    color: $color-blue;
    text-decoration: none;
    border-left: 3px solid $color-blue;
  }
}
.page-tree--second-link{
  @extend .page-tree--link;
  padding-left: 40px
}
.btn--page-tree{
  color: $color-white;
  @include font-size(12px);
  &:hover{
    color: $color-white;
    text-decoration: none;
  }
}
.svg-dropdown-arrow-page-tree{
  display: inline-block;
  margin-left: 10px;
  transition: all 1s ease;
}
.svg-dropdown-arrow-rotate{
  opacity: 1;
  transform: rotate(180deg);
}
