<div class="panel-group panel-group--page-tree" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default panel--page-tree">
    <div class="panel-heading panel-heading--page-tree" role="tab" id="headingOne">
      <h4 class="panel-title panel-title--page-tree">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="btn--page-tree">
          Explore WASH Programme
          <span class="svg-dropdown-arrow svg-dropdown-arrow-dims svg-dropdown-arrow-page-tree"></span>
        </a>
      </h4>

      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body panel-body--page-tree">
          <div class="page-tree--hr">
            <hr>
          </div>
          <ul class="page-tree--list">
            {% for item in items %}
              <li class="page-tree--item">
                <a href="" class="page-tree--link">{{item}}</a>
                <!-- Update this condition properly -->
                {% if item == "Hygiene" %}
                <ul class="page-tree--list">
                  <li class="page-tree--second-item"><a href="" class="page-tree--second-link">Hygiene in schools</a></li>
                </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
